.heatmap-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}
.heatmap {
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
  padding: 50px;
  margin: 10px;
}