*{
  /* margin: 10px; */
  background-color: #28282B;
  color: white;
}

#info-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#parent-div{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
